.contactInfo {
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contactInfo h1::before{
    content: "> ";

}

.contactInfo form{
    flex: 0.5;
    width: 60vw;

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.inputs{
    display: flex;
    gap: 5px;
}

.inputs input{
    height: 25px;
    flex: 1;
    background-color: var(--opaque-background );
    border-color: var(--text-color);
    color: var(--text-color);
}


form textarea{
    flex: 1;
    resize: none;
    background-color: var(--opaque-background);
    border-color: var(--text-color);
    color: var(--text-color);
}

form textarea:focus,
.inputs input:focus{
    outline: var(--text-color) solid 2px;
}

form button,
.submitted {
    font-family: var(--font-styles);
    color: var(--text-color);
    background-color: var(--opaque-background);

    cursor: pointer;
    border: 2px double var(--border-color);
}

.submitted{
    pointer-events: none;
    text-align: center;
    border: none;
}

form button:hover{
    background-color: var(--hover-color);
}


form button>div{
    font-family: var(--font-styles);
}
form button div:hover{
    transform: scale(1.1);
}
@media (max-width: 800px) {

    .contactInfo{
        align-items: flex-start;
    }

    .contactInfo h1{
        text-align: center;
        width: 100%;
    }

    .contactInfo form{
        width: 100%;
    }

    .contactInfo form div{
        display: initial;
    }

    .contactInfo form div input{
        width: 100%;
        text-align: center;
    }

    .contactInfo form textarea{
        width: 100%;
    }
}
