.experiences{
    display: flex;
    background-image: url(/src/assets/bgpics/tree.jpg);
    background-size: cover;
    background-position: center;
}

.experiences>h1{
    overflow: hidden;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;

    font-size: 6rem;
    letter-spacing: 3vh;
}

.experiences>h1::after{
    content: "|";
    animation: text-input 0.3s linear alternate infinite;
}

@keyframes text-input {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.experiencesList{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
    justify-items: center;

    /* background-image: url("../src/assets/bgpics/tree.jpg");
    background-size: cover; */
}

.experience{
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    border: 5px double var(--text-color);

    background-color: var(--opaque-background);
}


.experience:hover{
    background-color: var(--hover-color);
}


.techStack{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1{
    font-size: 2.5rem;
}

.info h2{
    font-size: 1em;
}

.info h3{
    font-size: 0.8em;
}


.info h2::before,
.info h3::before{
    content: "> ";
}

.techStack li::before{
    content: "| ";
}
.techStack li::after{
    content: " |";
}

.expDetailedOut{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: #191d23b3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.expDetailedIn{
    position: relative;
    /* height: 80%; */
    width: 50%;


    padding: 50px;
    background-color: var(--background-color);
    /* background-color: var(--terminal-color); */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expDetailedIn .info{
    flex: 0;
    align-items: center;
    padding: 15px 0px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.expDetailedIn .desc{
    flex: 1;
    padding: 15px;
    list-style-type: none;
    margin-top: 15px;
}

.expDetailedIn .desc{
    flex: 1;
    padding: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    gap: 50px;

    font-size: 1.2em;
}

.expDetailedIn .desc li::before{
    content: "> ";
}

.expDetailedIn .techStack li{
    padding: 5px;
}

.expDetailedIn .info h1,
.expDetailedIn .info h2,
.expDetailedIn .info h3 {
    max-width: fit-content;
    overflow: hidden;
    animation: typewriter 2.5s steps(40, end);
}

.expDetailedIn .info h1::after{
    content: "|";
    animation: text-input 0.3s linear alternate infinite;
}

@keyframes text-input {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes typewriter {
    from { width: 0; }
    to {width: 100%;}
}

@media (max-width: 1100px) {
    .experiences{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .experiences>h1{
        overflow: hidden;
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    
        font-size: calc(2rem + 5vw*0.5);
        letter-spacing: 1vw;
        margin-bottom: 20px ;
        text-align: center;
        padding: 5px;
    }
    

    .experiencesList{
        grid-template-columns: auto;
        gap: 5px;
        flex: none;
    }

    .experience{
        width: 60vw;
        max-width: 300px;
    }

    .info h1{
        font-size: 1.5rem;
    }

    .info h2{
        font-size: 0.85rem;
    }
    .info h3{
        font-size: 0.75rem;
    }

    .techStack li{
        font-size: 0.6rem;
    }

    .expDetailedOut{
        position: absolute;
        margin-top: -35vh;
        left: 0;
        height: 100vh;
        width: 100vw;
        font-size: 1rem;
    }

    .expDetailedIn{
        width: 80%;
        font-size: 0.6rem;
        padding: 0px;
    }

    .expDetailedIn .info h1{
        font-size: 1rem;
    }

    .expDetailedIn .info h2{
        font-size: 0.5rem;
    }
    .expDetailedIn .info h3{
        font-size: 0.5rem;
    }

    .expDetailedIn .techStack li{
        font-size: 0.5rem;
    }

    .expDetailedIn .desc {
        font-size: 0.7rem;
    }

    /*Animation is not the same in chrome dev vs mobile*/
    .expDetailedIn .info h1,
    .expDetailedIn .info h2,
    .expDetailedIn .info h3 {
        animation: none;
    }
}