.experiences{
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
    justify-items: center;
}

.experience{
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    border: 5px double var(--text-color);
}


.experience:hover{
    background-color: var(--hover-color);
}


.techStack{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h2{
    font-size: 1em;
}

.info h3{
    font-size: 0.8em;
}


.info h2::before,
.info h3::before{
    content: "> ";
}

.techStack li::before{
    content: "| ";
}
.techStack li::after{
    content: " |";
}