.experiences{
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
    justify-items: center;

    background-image: url("../src/assets/bgpics/tree.jpg");
    background-size: cover;
}

.experience{
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    border: 5px double var(--text-color);

    background-color: var(--opaque-background);
}


.experience:hover{
    background-color: var(--hover-color);
}


.techStack{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1{
    font-size: 2.5rem;
}

.info h2{
    font-size: 1em;
}

.info h3{
    font-size: 0.8em;
}


.info h2::before,
.info h3::before{
    content: "> ";
}

.techStack li::before{
    content: "| ";
}
.techStack li::after{
    content: " |";
}

.expDetailedOut{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: #191d23b3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.expDetailedIn{
    position: relative;
    /* height: 80%; */
    width: 50%;


    padding: 50px;
    background-color: var(--background-color);
    /* background-color: var(--terminal-color); */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expDetailedIn .info{
    flex: 0;
    align-items: center;
    padding: 15px 0px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.expDetailedIn .desc{
    flex: 1;
    padding: 15px;
    list-style-type: none;
    margin-top: 15px;
}

.expDetailedIn .desc{
    flex: 1;
    padding: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    gap: 50px;

    font-size: 1.2em;
}


.expDetailedIn .desc li::before{
    content: "> ";
}

.expDetailedIn .techStack li{
    padding: 5px;
}

.expDetailedIn .info h1,
.expDetailedIn .info h2,
.expDetailedIn .info h3 {
    max-width: fit-content;
    overflow: hidden;
    animation: typewriter 2.5s steps(40, end);
}

.expDetailedIn .info h1::after{
    content: "|";
    animation: text-input 0.3s linear alternate infinite;
}

@keyframes text-input {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes typewriter {
    from { width: 0; }
    to {width: 100%;}
}
