#nav{
    width: 100%;
    position: fixed;
    top: 0;

    color: white;
    font-family: var(--font-styles);
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}


#nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50vw;
    gap: 50px;
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

#nav ul li{
    padding: 15px 20px;
    white-space: nowrap;
}

a:link,
a:visited,
a:active{
    color: white;
    text-decoration: none;
}

#nav ul a:hover{
    background-color: var(--color5);
}

.logo {
    padding: 10px 20px;
    position: absolute;
    left: 1px;
}
