.projects {
    padding-top: calc(var(--navbar-height) + 10vh);
    display: grid;
    grid-auto-rows: max-content;
    gap: 5px;
    justify-items: center;

    background-image: url(/src/assets/bgpics/hdd.jpg);
    background-size: cover;
    background-position: center;

}


.projects h1{
    display: flex;
    max-width: max-content;
    overflow: hidden;
    animation: typewriter 5s steps(40, end);
}

@keyframes text-input {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes typewriter {
    from { width: 0; }
    to {width: 100%;}
}

.projects h1::before{
    content: "> ";
}

.projects h1::after{
    content: "|";
    animation: text-input 0.3s linear alternate infinite;
}

.project{
    width: 50vw;
    border: 1px dashed var(--border-color);
    background-color: var(--opaque-background);
}


.summary {
    display: flex;
    align-items: center;
}

.summary ul{
    padding: 5px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.summary h3::before{
    content: "> ";
}

.summary ul li::before {
    content: "| ";
}

.summary ul li::after{
    content: " |";
}


.active{
    animation: 0.3s linear 0s slide-down;
    transform-origin: top;
    animation-direction: alternate;
}

@keyframes slide-down {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}



.description ul{
    margin-left: 40px;
    list-style-type: circle;
}

.description ul li{
    margin-bottom: 5px;
}

.description div{
    padding: 5px;
    margin-right: 5px;
}

.description img {
    width: 100%;
    max-width: 30px;
    background-color: var(--hover-color);
}

.description img:hover{
    transform: scale(1.1);
}


.project h3{
    padding: 5px;
    flex: 1;
}

.project:hover{
    background-color: var(--hover-color);
}

.description .links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 800px) {
    .projects h1{
        font-size: calc(1.5rem + 5vw*0.5);
    }

    .project {
        width: 85vw;
    }

    .summary h3{
        font-size: 0.7rem;
    }

    .summary ul{
        font-size: 0.6rem;
    }

    .description ul li{
        font-size: 0.65rem;
    }

    .description div{
        margin-right: 0px;
    }

    .links div{
        max-height: 25px;
    }

    .links div a img{
        max-height: 25px;
    }
}