.projects {
    height: 100%;
    padding-top: calc(var(--navbar-height) + 8vh);
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    grid-auto-rows: max-content;
    gap: 5px;
    justify-items: center;
    }


.projects h1{
    text-align: center;
}

.project{
    width: 40%;
    border: 1px solid black;
}

.summary {
    display: flex;
    align-items: center;
}

.summary ul{
    padding: 5px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}


.description ul{
    margin-left: 40px;
    list-style-type: circle;
}

.description ul li{
    margin-bottom: 5px;
}

.description div{
    padding: 5px;
    margin-right: 5px;
    text-align: right;
}


.project h3{
    padding: 5px;
    flex: 1;
}

.project:hover{
    background-color: var(--color3);
}