.projects {
    height: 100%;
    padding-top: calc(var(--navbar-height) + 8vh);
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    grid-auto-rows: max-content;
    gap: 5px;
    justify-items: center;

}


.projects h1{
    text-align: center;
}

.projects h1::before{
    content: "> ";
}


.project{
    width: 40%;
    border: 1px dashed var(--border-color);
}


.summary {
    display: flex;
    align-items: center;
}

.summary ul{
    padding: 5px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.summary h3::before{
    content: "> ";
}

.summary ul li::before {
    content: "| ";
}

.summary ul li::after{
    content: " |";
}


.active{
    animation: 0.3s linear 0s slide-down;
    transform-origin: top;
    animation-direction: alternate;
}

@keyframes slide-down {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}



.description ul{
    margin-left: 40px;
    list-style-type: circle;
}

.description ul li{
    margin-bottom: 5px;
}

.description div{
    text-align: right;
    padding: 5px;
    margin-right: 5px;
}

.description img {
    max-width: 30px;
    background-color: var(--hover-color);
}

.description img:hover{
    transform: scale(1.1);
}


.project h3{
    padding: 5px;
    flex: 1;
}

.project:hover{
    background-color: var(--hover-color);
}