.skills{
    padding-top: var(--navbar-height);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    align-content: center;
    justify-items: center;


    background-color: var(--background-color);
    color: var(--text-color);
    
}

.skillsTab{
    /* background-color: rgba(0, 0, 0, 0.75); */
    border: 5px double var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.skillsTab h2{
    font-size: 4rem;
    align-self: center;
}

.skillsTab ul{
    list-style-type: none;
}

.skillsTab li{
    /* height: 50px; */
    /* width: 50px; */
    font-size: 2rem;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.skillsTab h2::before,
.skillsTab li div:last-child::before{
    content: "> ";
}


.skillsIMG img{
    max-height: 100%;
    max-width: 100%;
    /* mix-blend-mode: multiply; */
}

.skillsIMG{
    height: 50px;
    width: 50px;
}


