.skills{
    padding-top: var(--navbar-height);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    align-content: center;
    justify-items: center;

}

.skillsTab{
    display: flex;
    flex-direction: column;
}

.skillsTab h2{
    font-size: 4rem;
}


.skillsTab ul{
    list-style-type: none;
}

.skillsTab li{
    height: 50px;
    width: 50px;
    font-size: 2rem;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.skillsTab li img{
    max-height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply;
}
