.skills{
    display: flex;
    background-image: url(/src/assets/bgpics/kb.jpg);
    background-size: cover;
    background-position: center;
}

.skills h1{
    writing-mode: vertical-lr; 
    transform: rotate(-180deg);
    letter-spacing: 6vh;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.skills h1::after{
    content: "|";
    animation: text-input 0.3s linear alternate infinite;
}

@keyframes text-input {
    from {opacity: 0;}
    to {opacity: 100%;}
}


.skillsList{
    padding-top: var(--navbar-height);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    align-content: center;
    justify-items: center;


    color: var(--text-color);
    
    flex: 1;
}

.skillsTab{
    background-color: var(--opaque-background);
    border: 5px double var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.skillsTab h2{
    font-size: 4rem;
    align-self: center;
}

.skillsTab ul{
    list-style-type: none;
}

.skillsTab li{
    font-size: 2rem;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.skillsTab h2::before,
.skillsTab li div:last-child::before{
    content: "> ";
}


.skillsIMG img{
    max-height: 100%;
    max-width: 100%;
}

.skillsIMG{
    height: 50px;
    width: 50px;
}

@media (max-width: 800px) {
    .skillsList{
        justify-items: initial;
        gap: 2px;
    }

    .skills {
        font-size: 1rem;
    }

    .skills h1{
        font-size: 11vw;
    }

    .skillsTab h2{
        font-size: calc(1rem + 5vw * 0.3);
    }

    .skillsTab ul li div{
        font-size: calc(0.80rem + 5vw * 0.3);
    }
    .skillsIMG{
        height: 25px;
        width: 25px;
    }
}
